# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
frontend/node_modules
venv
*.iml
*.xml
webapi/utils/__pycache__/dependencies.cpython-37.pyc
webapi/routers/__pycache__/__init__.cpython-39.pyc
webapi/routers/__pycache__/hr_router.cpython-39.pyc
.idea/Sakura_admin.iml
.idea/Sakura_admin.iml
.idea/misc.xml
misc.xml
Sakura_admin.iml